In [1]:
pip install kafka-python

Collecting kafka-python
  Downloading kafka_python-2.1.5-py2.py3-none-any.whl.metadata (9.2 kB)
Downloading kafka_python-2.1.5-py2.py3-none-any.whl (285 kB)
Installing collected packages: kafka-python
Successfully installed kafka-python-2.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.5-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------- ----------------------------- 3.1/11.5 MB 15.6 MB/s eta 0:00:01
   ------------------ --------------------- 5.2/11.5 MB 11.9 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 17.4 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 15.4 MB/s eta 0:00:00
Downloading numpy-2.2.5-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ----------- ---------------------------- 3.7/12.6 MB 179.9 MB/s eta 0:00:01
   ------------- -------------------------- 4.2/12.6 MB 149.0 MB/s eta 0:00:01
   ------------- -------------------------- 4.2/12.6 MB 149.0 MB/s eta 0:00:01
   ------------- -------------------------- 4.2/12.6 MB 149.0 MB/s eta 0:00:01
   ------------- -------------------------- 4.2/12.6 MB 149.0 MB/s eta 0:00:01
   ------------- -------------------------- 4.2/12.6 MB 149.0 MB/s eta 0:00:01
   ------------- -------------------------- 4.2/12.6 MB 149.0 MB/s eta 0:00:01
   -------------------------- ------------- 8.4/12.6 MB 5.6 MB/s eta 0:00:01
   -------------------------------- ------- 10.2/12.6 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 6.5 MB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.5 pandas-2.2.3 pytz-2025.2 tzdata-2025.2

[notice] A new release of pip is available: 25.0.1 -> 25.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [2]:
producer = KafkaProducer(bootstrap_servers=['3.83.105.239:9092'], #change ip here
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [26]:
producer.send('demo_testing', value={'laddu':'nowmaan'})

In [ ]:
value_serializer=lambda x: dumps(x).encode('utf-8'):

value_serializer specifies how the message values should be serialized before being sent to Kafka.

lambda x: dumps(x).encode('utf-8') is a Python lambda function that:

Takes an input x (the message or value you want to send).

dumps(x): This converts the Python object x (such as a dictionary, list, string, etc.) into a JSON-formatted string. dumps is part of the json library in Python.

encode('utf-8'): This encodes the resulting JSON string into a byte representation using UTF-8 encoding. Kafka requires data to be in byte format, so this step is necessary.

In [10]:
df = pd.read_csv('C:/Users/USER/Downloads/indexProcessed.csv')

In [11]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [14]:
df.sample(1)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
59020,N100,2016-07-15,864.080017,866.669983,859.5,864.820007,864.820007,193178400.0,1055.080409

In [ ]:
count=0
while True:
    dict=df.sample(1).to_dict(orient="records")[0]
    producer.send('demo_testing',value=dict)
    sleep(1)